:root {
  /*------Color variables------*/
  --gray_100:#f2f2f2;
  --gray_700: #81624a;
  --black_900: #000000;
  --deep_orange_100: #f5cab7;
  --deep_orange_A100:#eeaa77;
  --orange_50:#fbe9d8;
  --orange_100: #ffd9b5;
  --red_200: #c7ad8d;
  --light_green_400: #95a86a;
}